<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link href="https://www.treinaweb.com.br/assets/images/apple-touch-icon.png" rel="apple-touch-icon"
        sizes="180x180" />
    <link type="image/png" href="https://www.treinaweb.com.br/assets/images/favicon-32x32.png" rel="icon"
        sizes="32x32" />
    <link type="image/png" href="https://www.treinaweb.com.br/assets/images/favicon-16x16.png" rel="icon"
        sizes="16x16" />

    <!-- Fontes -->
    <link rel="stylesheet" href="./src/style/fonts.css">

    <!-- CSS -->
    <link rel="stylesheet" href="./src/style/style.css">

    <title>TW Ninjas</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <!-- Desktop -->
            <div class="menu-desktop">
                <a href="./index.html"><img src="./src/img/twninjas-logo.svg" alt="Logo TW Ninjas"></a>
                <nav>
                    <ul>
                        <li>
                            <a href="./index.html">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="./sobre.html">
                                SObre
                            </a>
                        </li>
                        <li>
                            <a href="./lista-servicos.html">
                                Lista de Serviços
                            </a>
                        </li>
                        <li>
                            <a href="./contato.html">
                                Contato
                            </a>
                        </li>
                        <li>
                            <a class="btn-green" href="./contato.html" style="margin: 0;display: inline;">
                                Seja um prestador
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

            <!-- mobile -->
            <div class="mobile">

                <div class="menu-mobile">
                    <a href="./index.html"><img src="./src/img/twninjas-logo.svg" alt="Logo TW Ninjas"></a>
                    <img src="./src/img/open-menu.svg" alt="Logo TW Ninjas" width="30px" id="open-menu">

                </div>

                <div class="menu-hamburguer">
                    <div class="header-hamburguer">
                        <a href="./index.html"><img src="./src/img/twninjas-logo.svg" alt="Logo TW Ninjas"></a>
                        <img src="./src/img/close-menu.svg" alt="Logo TW Ninjas" width="30px" id="close-menu">
                    </div>
                    <nav>
                        <ul>
                            <li>
                                <a href="./index.html">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="./sobre.html">
                                    SObre
                                </a>
                            </li>
                            <li>
                                <a href="./lista-servicos.html">
                                    Lista de Serviços
                                </a>
                            </li>
                            <li>
                                <a href="./contato.html">
                                    Contato
                                </a>
                            </li>
                            <li>
                                <a class="btn-green" href="./contato.html">
                                    Seja um prestador
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="backdrop"></div>
            </div>

        </div>
    </header>

    <!-- info página -->
    <section class="pagina-info">
        <div class="container">
            <p>
                Criação de website (design + desenvolvimento)
            </p>
        </div>
    </section>

    <main>
        <div class="container pagina-review">
            <header class="header-servico">
                <div>
                    <img src="https://github.com/elton-fonseca.png" alt="" width="45px" height="45px" class="user-img">
                    <p>Elton Fonseca</p>
                </div>
                <div>
                    <img src="./src/img/star-orange.svg" alt="" width="20px" height="20px">
                    <p>4.8(421)</p>
                </div>

            </header>


            <div class="review">
                <div>
                    <img src="https://bytesed.com/tf/qixer/qixer_html/assets/img/service/sd.jpg" alt="" width="100%">
                    <div class="review-infos">
                        <div id="informacoes" class="infos-paginas active-item">
                            <p>Informações</p>
                        </div>
                        <div id="sobre-profissional" class="infos-paginas ">
                            <p>Sobre o profissional</p>
                        </div>
                        <div id="reviews" class="infos-paginas">
                            <p>Review</p>
                        </div>
                    </div>
                    <div class="divisor-infos">
                    </div>
                    <section class="servico-secao servico-informacoes active-servico">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.
                        </p>

                        <h3>O que você vai receber</h3>
                        <ul class="lista-informacoes">
                            <li>Serviço disponível 1</li>
                            <li>Serviço disponível 2</li>
                        </ul>

                        <h3>O que eu você vai receber</h3>
                        <ul class="lista-informacoes">
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt</li>
                        </ul>
                    </section>

                    <section class="servico-secao servico-sobre-profissional">
                        <div class="profissional-titulo">
                            <img src="https://github.com/elton-fonseca.png" alt="" width="100px" height="100px"
                                class="foto-usuario">
                            <div class="avaliacao-profissional">
                                <h3>Elton Fonseca</h3>
                                <div class="avaliacao">
                                    <img src="./src/img/star-orange5.svg" alt="">
                                    (125)
                                </div>
                            </div>
                        </div>

                        <div class="informacoes-profissional">
                            <div class="cidade">
                                <h4>Cidade</h4>
                                <p>Santos-SP</p>
                            </div>
                            <div class="taxa">
                                <h4>Taxa de conclusão do pedido</h4>
                                <p>100%</p>
                            </div>
                            <div class="tempo-conta">
                                <h4>Usuário desde</h4>
                                <p>2021</p>
                            </div>
                            <div class="servicos-realizados">
                                <h4>Serviços realizados</h4>
                                <p>251</p>
                            </div>
                            <div class="info-servicos-profissional">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </p>
                            </div>
                        </div>
                    </section>

                    <section class="servico-secao servico-reviews">
                        <div class="profissional-titulo review-item">
                            <img src="https://github.com/elton-fonseca.png" alt="" width="100px" height="100px"
                                class="foto-usuario">
                            <div class="avaliacao-profissional">
                                <h3>Elton Fonseca</h3>
                                <div class="avaliacao">
                                    <img src="./src/img/star-orange5.svg" alt="">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <hr>

                        <div class="profissional-titulo review-item">
                            <img src="https://github.com/elton-fonseca.png" alt="" width="100px" height="100px"
                                class="foto-usuario">
                            <div class="avaliacao-profissional">
                                <h3>Elton Fonseca</h3>
                                <div class="avaliacao">
                                    <img src="./src/img/star-orange5.svg" alt="">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <hr>

                        <div class="profissional-titulo review-item">
                            <img src="https://github.com/elton-fonseca.png" alt="" width="100px" height="100px"
                                class="foto-usuario">
                            <div class="avaliacao-profissional">
                                <h3>Elton Fonseca</h3>
                                <div class="avaliacao">
                                    <img src="./src/img/star-orange5.svg" alt="">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <hr>

                        <div class="profissional-titulo review-item">
                            <img src="https://github.com/elton-fonseca.png" alt="" width="100px" height="100px"
                                class="foto-usuario">
                            <div class="avaliacao-profissional">
                                <h3>Elton Fonseca</h3>
                                <div class="avaliacao">
                                    <img src="./src/img/star-orange5.svg" alt="">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </section>

                    <section class="outros">
                        <header class="header-outros">
                            <h2>Outros serviços <span>relacionados</span></h2>
                            <a href="./lista-servicos.html">Explorar todos <img src="./src/img/arrow-right.svg"
                                    alt=""></a>
                        </header>
                        <div class="divisor-form">
                            <div class="status"></div>
                        </div>
                        <div class="servicos-grid">
                            <div class="servico-item">
                                <img src="https://bytesed.com/tf/qixer/qixer_html/assets/img/service/s1.jpg" alt=""
                                    width="100%" class="img-destaque">
                                <div class="servico-body">
                                    <div class="avatar">
                                        <img src="./src/img/cleyson-lima.jpg" alt="Foto professor" width="45px"
                                            class="img-user">
                                        <p>Cleyson Lima</p>
                                    </div>
                                    <h3>Programação Front-end</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut
                                        labore et dolore magna aliqua.</p>
                                    <a href="" class="servico-link">Iniciando em</a><span> R$100</span>
                                    <a href="./detalhes.html" class="servico-agendar">Ver detalhes</a>
                                </div>
                            </div>
                            <div class="servico-item">
                                <img src="https://bytesed.com/tf/qixer/qixer_html/assets/img/service/s1.jpg" alt=""
                                    width="100%" class="img-destaque">
                                <div class="servico-body">
                                    <div class="avatar">
                                        <img src="./src/img/cleyson-lima.jpg" alt="Foto professor" width="45px"
                                            class="img-user">
                                        <p>Cleyson Lima</p>
                                    </div>
                                    <h3>Programação Front-end</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut
                                        labore et dolore magna aliqua.</p>
                                    <a href="" class="servico-link">Iniciando em</a><span> R$100</span>
                                    <a href="./detalhes.html" class="servico-agendar">Ver detalhes</a>
                                </div>
                            </div>
                        </div>

                    </section>
                </div>

                <aside>
                    <div class="aside">
                        <div class="bloco-valor">
                            <div class="aside-titulo">
                                <h3>Nosso pacote</h3>
                                <span>$300</span>
                            </div>
                            <p>Pacotes de serviços disponíveis</p>
                            <ul>
                                <li>Serviço disponível 1</li>
                                <li>Serviço disponível 1</li>
                            </ul>
                            <a href="./contratacao.html" class="btn-green">Agendar serviço</a>
                        </div>
                        <div class="info-qtd">
                            <img src="./src/img/check-fill.svg" alt="">
                            <p>251 serviços realizados</p>
                        </div>
                        <div class="info-aprovacao">
                            <img src="./src/img/star.svg" alt="">
                            <p>Taxa de aprovação 95%</p>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </main>


    <footer class="footer">
        <div class="container">
            <div class="footer-grid">
                <img src="./src/img/twninjas-logo-claro.svg" alt="" width="">
                <p>Todos os direitos reservados. (C) 2024</p>
            </div>
        </div>
    </footer>

    <script src="./src/javascript/menu-mobile.js"></script>

    <script>
        const itensPagina = document.querySelectorAll('.infos-paginas');

        itensPagina.forEach((item) => {
            item.addEventListener('click', (event) => {
                event.preventDefault();
                //remove a classe do elemento não clicado
                itensPagina.forEach((el) => el.classList.remove('active-item'));

                //adiciona a classe no elemento clicado
                item.classList.add('active-item');

                // pega o sufixo do item
                const suffixItem = item.getAttribute('id')

                // Seleciona a secao correspondente ao sufixo do elemento clicado
                const secao = document.querySelector(`.servico-${suffixItem}`)
                const secoes = document.querySelectorAll('.servico-secao')

                //remove a classe do elemento não clicado
                secoes.forEach((el) => el.classList.remove('active-servico'));
                secao.classList.add('active-servico')
            });
        });
    </script>
</body>

</html>