{% extends "base.html" %}

{% load static %}

{% block content %}
<!-- info página -->
<section class="pagina-info">
    <div class="container">
        <p>
            Sobre nós
        </p>
    </div>
</section>

<!-- Conheça sobre nós -->
<section class="sobre">
    <div class="container">
        <sobre class="sobre-grid">
            <img src="https://bytesed.com/tf/qixer/qixer_html/assets/img/about/about.jpg" alt="Imagem ilustrativa"
                width="100%">
            <div class="sobre-info">
                <h2 class="sobre-titulo">
                    Conheça sobre nós
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <ul class="sobre-lista">
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod </li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod </li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod </li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod </li>
                </ul>
            </div>
        </sobre>
    </div>
</section>

<section class="sobre-porque">
    {% include "fragments/_why_inner.html" %}
</section>

<!-- Comece como prestador -->
<section class="prestador">
    <div class="container">
        <div class="prestador-grid">
            <div class="prestador-item">
                <h2 class="prestador-titulo">
                    Comece como prestador
                </h2>
                <p class="prestador-descricao">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    </li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    </li>
                </ul>
                <a href="{% url "accounts:register" %}" class="btn-green">Seja um prestador</a>
            </div>
            <div class="prestador-item">
                <img src="https://bytesed.com/tf/qixer/qixer_html/assets/img/seller/seller2.jpg" alt=""
                    width="100%">
            </div>
        </div>
    </div>
</section>
{% endblock content %}