{% extends "base.html" %}

{% load static %}

{% block content %}
<!-- banner -->
<section class="banner">
    <div class="container">
        <p class="banner-descricao">
            Contrate qualquer serviço, a qualquer momento e de qualquer lugar.
        </p>
        <h1 class="banner-titulo">
            SOLUÇÃO EM UM PASSO<br>
            PARA OS SEUS SERVIÇOS
        </h1>
        <form class="search-banner" method="GET" action="{% url "services:list" %}">
            <select name="city" id="">
                <option value="" selected>Cidade</option>
                {% for city in cities %}
                <option value="{{ city }}">{{ city }}</option>
                {% endfor %}
            </select>
            <div class="search-buttons">
                <label for="search">
                    <img src="./src/img/icon-search.svg" alt="" width="20px">
                </label>
                <input type="text" name="q" id="search" placeholder="O que você está procurando...">
                <button type="submit">
                    <img src="./src/img/icone-right-arrow.svg" alt="" width="25px">
                </button>
            </div>
        </form>
    </div>
</section>

<!-- Serviços -->
<section class="home-servicos">
    <div class="container">
        <h2 class="servico-titulo">
            Serviços em destaque
        </h2>
        <p class="servico-descricao">
            É um fato estabelecido há muito tempo que um leitor se distrairá com o<br>
            conteúdo legível de uma página ao observar seu layout.
        </p>
        <div class="servicos-grid">
            {% for service in top_services %}
            <div class="servico-item">
                <img src="{{ service.picture.url }}" alt="" width="100%"
                    class="img-destaque">
                <div class="servico-body">
                    <div class="avatar">
                        <img src="{{ service.user.profile.avatar.url }}" alt="Foto professor" width="45px" class="img-user">
                        <p>{{ service.user.get_full_name }}</p>
                    </div>
                    <h3>{{ service.name }}</h3>
                    <p>{{ service.description }}</p>
                    <a href="" class="servico-link">Iniciando em</a><span> R$ {{ service.price }}</span>
                    <a href="{% url "services:detail" pk=service.pk %}" class="servico-agendar">Ver detalhes</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- Porque -->
<section class="porque">
    {% include "fragments/_why_inner.html" %}
</section>
{% endblock content %}

