{% load static %}

<div class="container">
    <h2 class="porque-titulo">
        Por que nosso mercado?
    </h2>
    <p class="porque-descricao">
        É um fato estabelecido há muito tempo que um leitor se distrairá com o<br>
        conteúdo legível de uma página ao observar seu layout.
    </p>

    <div class="porque-grid">
        <div class="porque-item">
            <div class="porque-img">
                <img src="{% static "img/icone-servico.svg" %}" alt="">
            </div>
            <h3 class="porque-servico-titulo">Service Commitment</h3>
            <p class="porque-servico-descricao">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>

        <div class="porque-item">
            <div class="porque-img">
                <img src="{% static "img/icone-servico.svg" %}" alt="">
            </div>
            <h3 class="porque-servico-titulo">Service Commitment</h3>
            <p class="porque-servico-descricao">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>

        <div class="porque-item">
            <div class="porque-img">
                <img src="{% static "img/icone-servico.svg" %}" alt="">
            </div>
            <h3 class="porque-servico-titulo">Service Commitment</h3>
            <p class="porque-servico-descricao">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>

        <div class="porque-item">
            <div class="porque-img">
                <img src="{% static "img/icone-servico.svg" %}" alt="">
            </div>
            <h3 class="porque-servico-titulo">Service Commitment</h3>
            <p class="porque-servico-descricao">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>

        <div class="porque-item">
            <div class="porque-img">
                <img src="{% static "img/icone-servico.svg" %}" alt="">
            </div>
            <h3 class="porque-servico-titulo">Service Commitment</h3>
            <p class="porque-servico-descricao">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>

        <div class="porque-item">
            <div class="porque-img">
                <img src="{% static "img/icone-servico.svg" %}" alt="">
            </div>
            <h3 class="porque-servico-titulo">Service Commitment</h3>
            <p class="porque-servico-descricao">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
</div>