{% extends "base.html" %}

{% block content %}
<!-- info página -->
<section class="pagina-info">
    <div class="container">
        <p>
           Solicitar Serviço - {{ service.name }} 
        </p>
    </div>
</section>

<!-- Contato Form -->
<section class="form-contato-secao">
    <div class="container">
        <h2>Informações de contratação</h2>
        <div class="divisor-form">
            <div class="status"></div>
        </div>
        <form class="form-contato" method="POST">
            {% csrf_token %}

            {{ form.service }}

            <div class="form-item nome">
                <label for="nome">Nome Completo*</label>
                {{ form.name }}
            </div>
            <div class="form-item email">
                <label for="email">E-mail*</label>
                {{ form.email }}
            </div>
            <div class="form-item cel">
                <label for="cel">Telefone celular*</label>
                {{ form.phone }}
            </div>
            <div class="form-item endereco">
                <label for="endereco">Endereco*</label>
                {{ form.address }}
            </div>
            <div class="form-item mensagem">
                <label for="solicitacao">Solicitação**</label>
                {{ form.extra_info }}
            </div>
            <button type="submit" class="btn-green">Registrar</button>
        </form>
    </div>
</section>
{% endblock content %}