{% extends "base.html" %}

{% block content %}
<!-- info página -->
<section class="pagina-info">
    <div class="container">
        <p>
            Nossa lista de melhores serviços
        </p>
    </div>
</section>

<!-- Busca Serviço -->
<section class="busca">
    <div class="container">
        <div class="busca-item"></div>
    </div>
</section>

<!-- filtro -->
<section class="filtro">
    <div class="container">
        <form class="search-banner" method="GET">
            <select name="city" id="">
                <option value="" selected>Cidade</option>
                {% for city in cities %}
                <option value="{{ city }}">{{ city }}</option>
                {% endfor %}
            </select>
            <div class="filtro-buttons">
                <div class="search-style">
                    <label for="search">
                        <img src="./src/img/icon-search.svg" alt="" width="20px">
                    </label>
                    <input type="text" value="{{ request.GET.q }}" name="q" id="search" placeholder="O que você está procurando...">
                </div>
                <button class="btn-green" type="submit">
                    Buscar
                </button>
            </div>
        </form>

        <p class="resultado-texto"><span>{{ page_obj.paginator.count }}</span> resultados</p>

        <!-- Serviços -->
        <div class="servicos-grid">
            {% for service in page_obj %}
            <div class="servico-item">
                <img src="{{ service.picture.url }}" alt="" width="100%"
                    class="img-destaque">
                <div class="servico-body">
                    <div class="avatar">
                        <img src="{{ service.user.profile.avatar.url }}" alt="Foto professor" width="45px" class="img-user">
                        <p>{{ service.user.get_full_name }}</p>
                    </div>
                    <h3>{{ service.name }}</h3>
                    <p>{{ service.description }}</p>
                    <a href="" class="servico-link">Iniciando em</a><span> R${{ service.price }}</span>
                    <a href="./detalhes.html" class="servico-agendar">Ver detalhes</a>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="pagination">
            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">&#60;</a>
            {% else %}
            <a disabled href="#">&#60;</a>
            {% endif %}

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">&#62;</a>
            {% else %}
            <a disabled href="#">&#62;</a>
            {% endif %}            
        </div>
    </div>
</section>
{% endblock content %}